formatter.name: pretty

suites:
    fluent_suite:
        namespace: PhpPackages\Fluent
        src_path: src
        spec_path: .
        spec_prefix: specs

extensions:
    - PhpSpec\Extension\CodeCoverageExtension

code_coverage:
    output:
        html: coverage/
    format:
        - html

# vim: syntax=yaml
